/*color-red =  #e05556*/
color-red =  #ff5c36
color-red2 =  #e05556
color-yellow =  #fbd40a
color-yellow2 = #fcc850

color-blue =  #83b1ee
color-blue2 = #7aa4dd
color-black = #979797
color-base = #0069b8


color-red-select = #e94c27
color-yellow-select = #ffce00 

color-border = 1px solid #e5e5e5
color-border2 = 1px dashed #e5e5e5

main-width = 1160px 

color1 = #323232
color2 = #323232
color3 = #666666
color4 = #666666
color5 = #a5a5a5

size1 = 18px
size2 = 14px
size3 = 14px
size4 = 12px
size5 = 12px


/*UI更改的分割线*/
color-black = #333333
color-blue3 = #208ce9
color-about = #515151