color-red =  #e05556
color-yellow =  #fcc850
color-blue =  #83b1ee
color-black = #979797

color-red-default = #e05556
color-red-select = #d13839
color-yellow-select = #fdae42 

main-width = 1160px 

color1 = #323232
color2 = #323232
color3 = #323232
color4 = #323232
color5 = #323232

size1 = 18px
size2 = 14px
size3 = 14px
size4 = 12px
size5 = 12px