color-red =  #e05556
color-yellow =  #fcc850
color-blue =  #83b1ee
color-black = #979797

color-red-default = #e05556
color-red-select = #d13839
color-yellow-select = #fdae42 

color-border = 1px solid #e5e5e5
color-border2 = 1px dashed #e5e5e5

main-width = 1160px 

color1 = #323232
color2 = #323232
color3 = #666666
color4 = #666666
color5 = #a5a5a5

size1 = 18px
size2 = 14px
size3 = 14px
size4 = 12px
size5 = 12px
