@import "./base";

.fade-enter-active, .fade-leave-active
    transition all .2s ease

.fade-enter, .fade-leave-active
    opacity 0
.main-width
    width main-width
    margin 0 auto
    box-sizing border-box
.color-red
    color color-red !important
.bg-white
    background-color #fff
.bg-grey
    background-color #f8f8f8
body
    min-width main-width
.common-h2 
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: color-red;
.common-detail-top
    height 40px 
    line-height 40px
    font-size size3
    color color3

.common-zixun
    z-index 100
    position relative
    display block
    margin 0 auto 
    width 72px
    height 26px 
    line-height 26px
    text-align center
    border 1px solid color-blue
    color color-blue
    font-size 14px 
    border-radius 5px 

.common-nav-top
    background-color #fff
    box-sizing border-box
    padding 18px
    margin-top 18px 
    > p 
        height 36px
        line-height 36px
        color color2
        font-size size2
    > nav 
        display flex
        font-size size3 
        color color3 
        line-height 36px
        > div
            width 100px

        > ul 
            width 900px 
            overflow hidden
            > li 
                float left 
                width 100px
                height 36px
                text-align center
                > a
                    color color3
        > a 
            align-self flex-end
            display block
            width 100px
            height 36px
            text-align right 
            > i 
                float right 
                width 18px 
                height 36px
                background url(/public/more.png) no-repeat center center 
                margin-left 12px
                // transition transform 0.4s

            &.active > i 
                transform rotateX(180deg) 

.common-nav-sort
    > nav
        display flex
        padding 12px 0 16px
        > div
            position relative
            // min-width 80px
            height 30px
            line-height 30px 
            margin-right 12px
            background-color color-red
            font-size 14px 
            color #fff
            box-sizing border-box
            padding 0 20px 0 7px
            > a 
                position absolute
                top 5px 
                right 0 
                width 20px 
                height 20px 
                background url(/public/delete.png) no-repeat center center 
    > ul 
        position relative
        display flex
        padding 0 18px

        li 
            width 100px
            height 14px 
            line-height 14px 
            font-size 14px 
            > a 
                display flex
                width 100%
                height 100%
                color color3
                font-size size3
            i 
                margin-left 2px 
                display block
                width 7px 
                height 14px 
                background url(/public/sort-g.png) no-repeat center center
            &.active 
                i
                    background-image url(/public/sort-r.png)
                a 
                    color color-red
            
        li.market-newproduct
            position absolute
            top -16px
            right 0
            width 130px
            height 30px
            line-height 30px 
            font-size 14px 
            background color-yellow
            a
                display block
                color #fff
                text-align center

.common-person-top
        position relative
        padding 34px 0
        margin-bottom 12px
        border color-border
        background-color #fff
        > a
            position absolute
            top 16px
            right 16px
            width 100px
            height 30px
            line-height 30px
            text-align center
            border color-border
            border-radius 2px

        > img
            display block
            width 100px
            height 100px
            box-shadow 0 0 20px rgba(0,0,0,.2)
            margin 0 auto 14px
            border-radius 50%
        > p
            text-align center
            &:nth-of-type(1)
                margin-bottom 12px
                line-height size1
                font-size size1
                color color1
            &:nth-of-type(2),&:nth-of-type(3)
                line-height size3
                font-size size3
                color color3

        > nav 
            display flex
            margin 14px auto
            justify-content center
            > a
                display block
                width 76px
                height 24px
                line-height 24px
                border 1px solid color-red
                margin-right 20px
                color color-red
                text-align center
                border-radius 5px
                &:last-child
                    margin-right 0
    
.common-person-order-top
    position relative
    > ul
        display flex
        border color-border
        > li
            position relative
            width 120px
            padding 9px 0
            a   
                display block
                width 100%
                height 22px
                line-height 22px
                font-size size3
                color color3
                text-align center
                border-right color-border
                box-sizing border-box
            &:last-child a
                border-right 0
            &:hover,&.router-link-active,&.active
                &:after
                    content ""
                    position absolute
                    bottom 0
                    left 50%
                    margin-left -45px
                    width 90px
                    height 2px
                    background-color color-red
                a
                    color color-red

    > ol
        border color-border
        border-top none
        height 40px
        overflow hidden
        li
            float left 
            width 100px
            line-height 40px
            text-align center
            color color2
            font-size size2
            a 
                display block
                width 100%
                color color2

            &:hover a,&.active a
                color color-red

    > nav
        display flex
        position absolute
        top 0
        right 0
        width 50%
        height 40px
        justify-content flex-end
        align-items center

        > a, > input
            display block
            height 26px
            line-height 26px
            font-size size3
            color color3
            margin-right 14px
            
        > input 
            width 136px
            border color-border
            border-radius 13px
            padding 0 14px
            background #fff url('/public/find.png') no-repeat 143px center

.common-person-custom-table
    border color-border
    margin 12px 0
    dt,dd
        display flex
        height 40px
        line-height 40px
        > p
            flex 1
            text-align center

            a:nth-child(2)
                margin-left 10px
    dt
        background-color #e6effc
        font-size size2
        color color2
    dd
        border-top color-border
        font-size size3
        color color3

.input-error
    border 1px solid color-red !important

.financial-item-box
    padding-top 18px 
    overflow hidden

    .financial-item 
        float left 