@import "./base";

.person_msg
    padding 0 14px

.person_msg_item
    display flex
    justify-content space-between
    border-bottom color-border
    line-height 40px
    height 40px
    color color3
    font-size size3
    cursor pointer
    > span 
        display block

    &:hover
        color color-red

.person_msg_con
    position relative
    padding-bottom 50px
    border-bottom none


.person_bottom
    position absolute
    border-top color-border
    left -1px
    bottom 0
    width 900px
    height 38px
    padding-top 13px
    .common-top-page 
        margin-top 0