@import "./base";
.pmain
    width 840px
    margin 0 auto
    h3
        padding-top 18px
        color color-red
        font-size size3
        line-height size3

    > nav 
        padding 60px 0
        display flex
        justify-content center
        a 
            display block
            margin-right 60px
            width 80px
            height 80px
            border color-border
            box-sizing border-box
            text-align center
            line-height 78px
            color #a5a5a5
            cursor pointer

            &:last-child
                margin-right 0

            &.active
                border 1px solid color-red
                color color-red
                background url(/public/select-red.png) no-repeat right bottom
    > a
        display block
        margin 0 auto
        width 120px
        height 30px
        line-height 30px
        background-color #a5a5a5
        color #fff
        text-align center
        border-radius 2px
        font-size size3

        &.active
            background-color color-yellow

            &:active,&:hover
                background-color color-yellow-select

.pmain-item
    margin-top 18px 
    display flex 
    justify-content center
    > span
        display block
        width 90px
        text-align center
        font-size size3 
        color color3
        line-height 40px

    > input,> textarea,> select
        display block
        width 570px
        height 40px
        padding 10px 14px
        border color-border
        font-size size3
        color color3
        box-sizing border-box
    > textarea
        height 120px
        line-height 20px
        outline none
        resize none


.pmain-item2
    margin-top 18px 
    display flex 
    justify-content center
    > span
        display block
        width 90px
        text-align center
        font-size size3 
        color color3
        line-height 40px
    > section
        width 570px
.topic_menu
    width 100%
    > li
        position relative
        float left 
        width 98px
        height 24px
        line-height 24px
        border 1px solid color-red
        margin 7px 17px 7px 0
        color #e05556
        text-align center
        border-radius 4px
        font-size size3
        > a 
            position absolute
            top 0
            right 0
            width 24px
            height 24px
            line-height 24px
            text-align center
            font-size 16px
            color color-red
        &:nth-child(5n)
            margin-right 0
        &.add
            margin-right 0
            width 12px
            height 12px
            line-height 12px
            margin-top 12px
            border 1px dashed color-blue
            color color-blue
            border-radius 50%
            cursor pointer

.topic_input
    position relative
    margin-top 11px
    > input, > ol li
        display block
        width 570px
        height 40px
        padding 10px 14px
        border color-border
        font-size size3
        color color3
        box-sizing border-box
    > ol
        z-index 100
        position absolute
        top 40px
        left 0
        width 100%
        li 
            margin-top -1px
            background-color #fff
            cursor pointer
            &:empty
                height 0
                border none
                padding 0
            &:hover
                background-color #e5e5e5


.pmain-item3
    margin 18px auto 0
    display flex 
    width 660px
    > span
        display block
        width 90px
        text-align center
        font-size size3 
        color color3
        line-height 40px
    > select, input
        display block
        width 240px
        height 40px
        padding 10px 14px
        border color-border
        font-size size3
        color color3
        box-sizing border-box
    
    .input-section
        position relative
        width 240px
        height 40px
        font-size size3
        color color3

        input 
            padding-right 40px
        span
            position absolute
            top 0
            right 0
            width 40px
            height 40px
            line-height 40px
            text-align center
    .large
        margin-left 8px
        width 322px
    .small
        width 110px
        margin-right 10px


.pmain-item4
    margin 18px auto 0
    width 660px
    > dt, > dd
        display flex
        > div
            flex 1
            min-width 200px
            margin-right 30px
            height 40px
            font-size size3
            color color3
            &:last-child
                margin-right 0

    > dd
        margin-bottom 18px
    > dt > div
        line-height 40px
        text-align center
    .input-section
        position relative
        height 40px
        font-size size3
        color color3

        input 
            display block
            width 100%
            height 40px
            padding 10px 40px 10px 14px
            border color-border
            font-size size3
            color color3
            box-sizing border-box
        span
            position absolute
            top 0
            right 0
            width 40px
            height 40px
            line-height 40px
            text-align center
    .input-section2
        position relative
        display flex
        height 40px
        font-size size3
        color color3

        input
            flex 3
        input,aside 
            display block
            height 40px
            min-width 90px
            padding 10px 14px
            border color-border
            font-size size3
            color color3
            box-sizing border-box
        span
            display block
            flex 2
            min-width 20px
            height 40px
            line-height 40px
            text-align center
        aside
            z-index 10
            position absolute
            top 39px
            right 0
            background-color #fff
            &.large
                width 126px
            &:hover
                background-color #e5e5e5
                cursor pointer


    .add
        margin 31px 0
        > a
            display block
            margin-left 90px
            width 12px
            height 12px
            line-height 12px
            border 1px dashed color-blue
            text-align center
            font-size 16px
            color color-blue
            border-radius 50%
            &:nth-child(2)
                margin-left 8px
                line-height 10px

.pmain-item5
    margin 0 auto 0
    width 660px
    > ul
        padding 7px 0 7px 90px
        li 
            width 118px
    > input
        display block
        margin-left 90px
        width 570px
        height 40px
        padding 10px 14px
        border color-border
        font-size size3
        color color3
        box-sizing border-box


.pmain-item6
    @extend .pmain-item4
    margin 0 auto
    > dt,> dd
        > div
            min-width 0px
    input
        display block
        width 100%
        height 40px
        padding 10px 14px
        border color-border
        font-size size3
        color color3
        box-sizing border-box
    input[type="date"]
        padding 10px


.pmain-cell
    position relative
    margin 18px auto 0
    display flex 
    width 660px

    > span
        display block
        width 90px
        text-align center
        font-size size3 
        color color3
        line-height 40px
    .pfile
        opacity 0
        z-index 10
        position absolute
        left 90px
        top 0
        width 104px
        height 40px
        font-size 0
        box-sizing border-box
        cursor pointer
        &:hover + .pfileBtn
            background-color color-yellow-select

    .preadonly
        display block
        width 570px
        height 40px
        padding 10px 14px 10px 100px
        border color-border
        font-size size3
        color color3
        box-sizing border-box
    .pfileBtn
        position absolute
        top 6px
        left 96px
        width 90px
        height 28px
        line-height 28px
        text-align center
        color #fff
        font-size size4
        color #fff
        background-color color-black
        &.active 
            background-color color-yellow 
            &:active,&:hover
                background-color color-yellow-select
        
.pmain-btn
    display flex
    padding-top 29px
    justify-content center
    > a
        display block
        width 120px
        height 30px
        line-height 30px
        background-color #a5a5a5
        margin-right 20px
        color #fff
        text-align center
        border-radius 2px
        font-size size3
        
        &:last-child
            margin-right 0
        &.active
            background-color color-yellow

            &:active,&:hover
                background-color color-yellow-select
        &.pre:active
            background-color color-yellow

.pmain-alert-mask
    z-index 900
    position fixed
    top 0 
    left 0
    right 0
    bottom 0
    background-color rgba(0,0,0,.5)
.pmain-alert-con
    z-index 1000
    position fixed
    top 50% 
    left 50%
    margin-left -130px
    margin-top -80px
    width 260px
    background-color #fff
    border-radius 5px
    > a 
        position absolute
        top 0
        right 0 
        width 30px
        height 30px
        line-height 30px
        text-align center
        font-size 16px 
        color color3
    > p 
        height 119px
        line-height 119px
        text-align center
        border-bottom color-border
        font-size size3 
        color color3
    > nav 
        display flex
        padding 10px 0
        > a
            display block
            flex 1
            height 20px 
            line-height 20px 
            font-size size3 
            color color3
            text-align center
            border-right color-border
            &:last-child
                border-right none

.dashLine
    height 30px
    border-bottom color-border2