color-red =  #e05556
color-yellow =  #fcc850
color-blue =  #83b1ee
color-black = #979797

color-red-default = #e05556
color-red-select = #d13839
color-yellow-select = #fdae42 

main-width = 1160px 
